extends layout

block content
  div(class='row margin-from-top')
    div(class='col-xs-12 text-center')
      h1.not-found 500 Error :O
      a(href='/', class='btn btn-md btn-default') Oops, run away
