extends layout

block content
  div(id='content')
    h1= title
    p Welcome to #{title}
    p Instant code search
    form(id="searchForm")
      select(id='type')
        option(value='p5') P5
        option(value='arduino') Arduino
      input(type="text" name="search" class="searchField" placeholder="Search")
      input(type="submit" value="search")
    div
      h3 Results
      div(id="results")
