extends layout

block content
  div(id='indexPage')
    div(class='row index-margin-from-top')
      div(class='col-sm-3')
      div(class='col-sm-6 text-center')
        h1
          img(src='/images/logo.png', width='212', alt='Grep')
        p.tagline Instant Syntax Lookup
      div(class='col-sm-3')
    div(class='row')
      div(class='col-sm-3')
      div(class='col-xs-12 col-sm-6')
        div(class='row')
          form(id='searchForm')
            div(class='col-xs-3 col-sm-2 no-padding-right')
              select(id='type', class='form-control input-lg')
                option(value='p5') P5.js
                option(value='arduino') Arduino
            div(class='col-xs-9 col-sm-10 no-padding-left')
              input(type='text' name='search' class='form-control input-lg searchField' placeholder='')
              div(class='row')
                div(class='col-xs-12')
                  p(class='search-examples')
      div(class='col-sm-3')
  div(id='resultPage')
    div(class='row')
      div(class='row top-bar')
        div(class='col-sm-3 text-left')
          h1.logo-small
            a(href="#", class='logo-small')
              img(src='/images/logo_small.png', width='100', alt='Grep')
        div(class='col-sm-6')
          div(class='row')
            form(id='searchFormNew')
              div(class='col-xs-3 col-sm-2 no-padding-right')
                select(id='typeNew', class='form-control input-lg')
                  option(value='p5') P5.js
                  option(value='arduino') Arduino
              div(class='col-xs-9 col-sm-10 no-padding-left')
                input(type='text' name='search' class='form-control input-lg searchFieldNew' placeholder='Search syntax instantly')
        div(class='col-sm-3')
      div(class='row')
        div(class='row margin-from-top')
          div(class='loader') Loading...
          div(id='results')
        div(class='row margin-from-top')
      
