form(id="searchFormNew")
  select#typeNew
    option(value='p5') P5
    option(value='arduino') Arduino
  input(type="text" name="search" class="searchFieldNew" placeholder="Search" value=search)
  input(type="submit" value="continue search")
div
  h3 New Results
  div(id="results")