form(id="searchFormNew")
  select#type
    option(value='p5' selected=(type=='p5'?selected:'')) P5
    option(value='arduino' selected=(type=='p5'?selected:'')) Arduino
  input(type="text" name="search" class="searchField" placeholder="Search" value=search)
  input(type="submit" value="continue search")
div
  h3 New Results
  div(id="results")